include /mdc-pug/index
mixin mdc
  -
    const id = '__mdc__auto__init__';
    const script = `
      (function() {
        const interval = setInterval(function() {
          if (mdc) {
            clearInterval(interval);
            mdc.autoInit(${id});
          }
        });
      })();
    `
  span(id=id)
    block
  script= script
