include /mdc-pug/index
-
  function randomId() {
    const random = Math.random();
    return 'id' + `${random}`.substring(2);
  }

mixin mdc
  -
    const id = randomId();
    const script = `
      (function() {
        const interval = setInterval(function() {
          if (window.mdc) {
            clearInterval(interval);
            mdc.autoInit(${id});
          }
        });
      })();
    `
  span(id=id)
    block
  script= script
